@font-face {
  font-family: "letterBlocks";
  src: url("./Fonts/letter_blocks/Letter\ Blocks\ Demo.ttf") format('truetype');
}
@font-face {
  font-family: "Vanilla Ravioli";
  src: url("./Fonts/VanillaRavioli_Demo.ttf") format('truetype');
}
@font-face {
  font-family: "Spicy Taquito";
  src: url("./Fonts/spicy_taquito/Spicy\ Taquito.ttf") format('truetype');
}
.App{
  height: 100%;
}